<h1>Todo Manager</h1>

<div class="list-group">
<% @groups.each do |group| %>
	<%= link_to group.name, group_tasks_path(group), class: "btn btn-default" %> 
	<br>
<% end %>
</div>

<br><%= link_to 'View All', overview_groups_path, class: "btn btn-primary" %>
<br><%= link_to 'Create', new_group_task_path(:group_id => 4), class: "btn btn-success"%>