<h1>Todo Manager</h1>

<ul>
<% @groups.each do |group| %>
	<li> 
	<%= link_to group.name, :controller => "group_tasks", :action => "index", :id => group %> 
	</li> <br>
<% end %>
</ul>

<br><%= link_to 'View All', tasks_path %>
<br><%= link_to 'Create', new_task_path %>